.logo-docplanner {
    margin: 5%;
    padding-left: 20%;
}
.lead__logo {
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}